<h1>Listing movements</h1>

<table>
  <tr>
    <th>From account</th>
    <th>To account</th>
    <th>Date</th>
    <th>Amount</th>
  </tr>

<% @movements.each do |movement| %>
  <tr>
    <td><%=h Account.find(movement.from_account_id).name %></td>
    <td><%=h Account.find(movement.to_account_id).name %></td>
    <td><%=h movement.date %></td>
    <td><%=h movement.amount %></td>
    <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
    <td><%= link_to 'Destroy', movement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New movement', new_movement_path %>
| <%= link_to 'Categories', categories_path %>
| <%= link_to 'Accounts', accounts_path %>
| <%= link_to 'Expenses', expenses_path %>