<h1>New movement</h1>

<% form_for(@movement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :from_account_id %><br />
    <%= select :movement, :from_account_id, options_for_select(Account.all.map { |a| [a.name, a.id] }, @movement.from_account_id) %>
  </p>
  <p>
    <%= f.label :to_account_id %><br />
    <%= select :movement, :to_account_id, options_for_select(Account.all.map { |a| [a.name, a.id] }, @movement.to_account_id)  %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', movements_path %>