<p>
  <b>From account:</b>
  <%=h Account.find(@movement.from_account_id).name %>
</p>

<p>
  <b>To account:</b>
  <%=h Account.find(@movement.to_account_id).name %>
</p>

<p>
  <b>Date:</b>
  <%=h @movement.date %>
</p>

<p>
  <b>Amount:</b>
  <%=h @movement.amount %>
</p>


<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>