.row
  .col-lg-10.col-lg-offset-1
    - model_class = Category
    = render :partial => "layouts/header", :locals => {:title => "Edit categories", :subtitle => "cause they aren't just \"expenses\"!" }
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:name)
          %th=t '.actions', :default => t("helpers.actions")
      %tbody
        - @categories.each do |category|
          - html_row_class=cycle('odd','even')
          %tr.expense-row{:class => html_row_class, :style => "border-left: 4px solid #{category.color_code}"}
            %td= link_to category.name, edit_category_path(category)
            %td
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_path(category), :class => 'btn btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), category_path(category), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

    = link_to t('.new', :default => t("helpers.links.new")), new_category_path, :class => 'btn btn-primary'
