%tr.expense-row{:class => html_row_class, :style => "border-left: 4px solid #{expense.category.color_code}"}
  %td
    = h expense.description
  %td.expense-cell-amount
    = currency_euro expense.amount
  %td
    =h expense.category.nil? ? "N/A" : expense.category.name
  %td
    =h expense.date
  %td
    = link_to content_tag(:i, "", :class => "icon icon-pencil"), edit_expense_path(expense)
  %td
    = link_to content_tag(:i, "", :class => "icon icon-trash"), expense, :method => :delete, :confirm => 'Are you sure?'

