<td><%= text_field_tag("elem#{i}[date]", date, :class => "datepicker") %> </td>

<td><%= text_field_tag("elem#{i}[amount]", "", :size => 5) %></td>

<td><%= text_field_tag("elem#{i}[buoni]", "", :size => 5) %></td>

<td><%= text_field_tag("elem#{i}[description]", "", :size => 25) %></td>

<td><%= select_tag "elem#{i}[category_id]", categories %></td>

<td><%= select_tag "elem#{i}[account_id]", accounts %></td>

<td><%= check_box_tag "elem#{i}[ufficio]",  "true", false %></td>
