<% categories = options_for_select(Category.all.map { |category| [category.name, category.id ] }, 0 ) %>
<% accounts = options_for_select(Account.all.map { |account| [account.name, account.id ] }, 0 ) %>

<span style="font-size:28px;color:#FFBA27">
	Add expenses
</span><br/>
<span style="font-size:20px;color:#CCCCCC">
	...as many as you want!     
</span>

<% form_tag( { :action => :create_many,
	:controller => :expenses
	} ) do %>

	<table>

		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>Buoni</th>
			<th>Description</th>
			<th>Category</th>
			<th>Account</th>
			<th>Ufficio</th>
		</tr>

		<% for i in 1..10 do %>

			<tr class="<%= "insert_" + cycle("rowA", "rowB") %>">

				<td><%= date_select("elem#{i}", 'date', :order => [:day, :month, :year]) %> </td>

				<td><%= text_field_tag("elem#{i}[amount]", "", :size => 5) %></td>

				<td><%= text_field_tag("elem#{i}[buoni]", "", :size => 5) %></td>

				<td><%= text_field_tag("elem#{i}[description]", "", :size => 25) %></td>

				<td><%= select_tag "elem#{i}[category_id]", categories %></td>

				<td><%= select_tag "elem#{i}[account_id]", accounts %></td>

				<td><%= check_box_tag "elem#{i}[ufficio]",  "true", false %></td>

			</tr>

		<%end %>

		<tr class="<%= cycle("rowA", "rowB") %>">
			<td><%= submit_tag "Save" %></td>
		</tr>

	</table>

<% end %>
