%td
  = text_field_tag("elem#{i}[date]", date, :class => "datepicker")
%td
  = hidden_field_tag("elem#{i}[sign]", "-")
  .input-prepend
    %span.add-on.expense-sign -
    = text_field_tag("elem#{i}[amount]", "", :class => "input-mini")
%td
  = text_field_tag("elem#{i}[amount]", "", :size => 5)
%td
  = text_field_tag("elem#{i}[description]", "", :size => 25) 
%td
  = text_field_tag("elem#{i}[category_name]", "", :size => 25) 
%td
  = select_tag "elem#{i}[account_id]", accounts 


    
