%td
  = text_field_tag("elem#{i}[date]", date, :class => "datepicker input-small")
%td
  = hidden_field_tag("elem#{i}[sign]", "-")
  .input-prepend
    %span.add-on.expense-sign -
    = text_field_tag("elem#{i}[amount]", "", :class => "input-mini")
%td
  = text_field_tag("elem#{i}[description]", "") 
%td
  = select_tag("elem#{i}[category_name]", options_for_select(@categories.prepend(["   ", ''])), :class => "form-control") 


    
