%td
  = text_field_tag("elem#{i}[date]", date, :class => "datepicker")
%td
  %i{:id => "elem#{i}SignIcon", :class => "sign-icon icon icon-minus-sign"}
  = hidden_field_tag("elem#{i}[sign]", "-")
%td
  = text_field_tag("elem#{i}[amount]", "", :size => 5)
%td
  = text_field_tag("elem#{i}[description]", "", :size => 25) 
%td
  = text_field_tag("elem#{i}[category_name]", "", :size => 25) 
%td
  = select_tag "elem#{i}[account_id]", accounts 


    
