<% categories = options_for_select(Category.all.map { |category| [category.name, category.id ] }, 0 ) %>

<h1>Editing expense</h1>

<% form_for(@expense) do |f| %>
  <%= f.error_messages %>
	<p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category_id, categories %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', expenses_path %>
