= form_for @expense, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :date, :class => 'control-label'
    .controls
      = f.date_select :date
  
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'

  .control-group
    = f.label :amount, :class => 'control-label'
    .controls
      = f.text_field :amount, :class => 'text_field'

  .control-group
    = f.label :category, :class => 'control-label'
    .controls
      = f.select(:category_id, options_from_collection_for_select(@categories, :id, :name, @expense.category_id), :class => "form-control") 

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), expenses_path, :class => 'btn'
