<%
	year = @date.year
	month = @date.month
	total = Expense.total_for_month year, month

	if year == Date.today.year and month == Date.today.month
		average = Expense.average_for_current_month
		prevision = Expense.prevision_for_current_month
		left = Expense.left_for_current_month_with_stipendio 1190
	else
		average   = Expense.average_for_month(year, month)
		prevision = total
		left = total
	end

	bancomat = Expense.total_for_bancomat_in_month(year, month)
%>

<% expenses_for = "Listing expenses for #{Date::MONTHNAMES[month] + " " + year.to_s}" %>

<%= render :partial => 'layouts/header', :locals => {:title => "Expenses Manager", :subtitle => expenses_for }%>


<div id="navigation-links">
<%= link_to "&lt;&lt; Prev month", :action => :index, :month => (@date << 1).month, :year => (@date << 1).year %>
&nbsp;&nbsp;
<%= link_to "Next month &gt;&gt;", :action => :index, :month => (@date >> 1).month, :year => (@date >> 1).year %> | 
<%= link_to 'Categories', categories_path %>


<% if RAILS_ENV != "production" %>
  <%= "<BR/><b>WARNING!!! APPLICATION RUNNING IN #{RAILS_ENV.upcase} MODE</b>" %>
<% end %>


</div>

<%= render :partial => 'tag_cloud' %>


<div style="float:left;">
	<%= render :partial => 'layouts/box_statistics', :locals => {:total => total, :average => average, :bancomat => bancomat, :prevision => prevision, :left => left } %>
</div>
<br/>
<div style="clear:both;" />
<hr/>

<table>

  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Bancomat</th>
    <th>Ufficio</th>
    <th>Buoni</th>
    <th>Date</th>
  </tr>

<% @expenses.each do |expense| %>
	<%= render :partial => 'expense_row', :locals => {:expense => expense } %>
<% end %>

	<tr class="totals">
		<td></td>
	    <td class="total-amount"><%= currency_euro @expenses.inject(0) { |total, e| total + e.amount } %></td>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td class="total-buoni"><%=h @expenses.inject(0) { |total, e| total + e.buoni } %></td>
<td> </td>		
	</tr>
	
</table>

<hr/>

<div id="form_enter_many">
	<%= render :partial => "form_many" %>
</div>

<br />
