<%

	total = Expense.total_for_month @date

	#TODO: perché non mettere tutti i controlli sul current all'interno dei metodi?

	average = Expense.average_for_month @date
	prevision = Expense.prevision_for_month @date
	left = Expense.left_for_month_with_stipendio @date, 1190
	bancomat = Expense.total_for_bancomat_in_month(@date)
%>

<% expenses_for = "Listing expenses for #{Date::MONTHNAMES[@date.month] + " " + @date.year.to_s}" %>

<%= render :partial => 'layouts/header', :locals => {:title => "Expenses Manager", :subtitle => expenses_for }%>


<div id="navigation-links">
<%= link_to "&lt;&lt; Prev month", :action => :index, :month => (@date << 1).month, :year => (@date << 1).year %>
&nbsp;&nbsp;
<%= link_to "Next month &gt;&gt;", :action => :index, :month => (@date >> 1).month, :year => (@date >> 1).year %> | 
<%= link_to 'Categories', categories_path %>
| <%= link_to 'Accounts', accounts_path %>
| <%= link_to 'Movements', movements_path %>


<% if RAILS_ENV != "production" %>
  <%= "<BR/><b>WARNING!!! APPLICATION RUNNING IN #{RAILS_ENV.upcase} MODE</b>" %>
<% end %>


</div>

<%= render :partial => 'tag_cloud' %>


<div style="float:left;">
	<%= render :partial => 'layouts/box_statistics', :locals => {:total => total, :average => average, :bancomat => bancomat, :prevision => prevision, :left => left } %>
</div>
<div style="float:right;">
	<%= render :partial => 'layouts/box', :locals => {:title => "Chart", :content => "<img src=\"#{Expense.generate_daily_chart_for(@date)}\" />" } %>
</div>

<br/>
<div style="clear:both;" />
<hr/>

<table>

  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Bancomat</th>
    <th>Ufficio</th>
    <th>Buoni</th>
    <th>Date</th>
  </tr>

<% @expenses.each do |expense| %>
	<%= render :partial => 'expense_row', :locals => {:expense => expense } %>
<% end %>

	<tr class="totals">
		<td></td>
	    <td class="total-amount"><%= currency_euro @expenses.inject(0) { |total, e| total + e.amount } %></td>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td class="total-buoni"><%=h @expenses.inject(0) { |total, e| total + e.buoni } %></td>
<td> </td>		
	</tr>
	
</table>

<hr/>

<div id="form_enter_many">
	<%= render :partial => "form_many" %>
</div>

<br />
