<%
    year = @date.year
    month = @date.month
%>

<h1>Listing expenses for <%= Date::MONTHNAMES[month] + " " + year.to_s %></h1>

<%= link_to "Prev month", :action => :index, :month => @date.month_before.month, :year => @date.month_before.year %>
<%= link_to "Next month", :action => :index, :month => @date.month_after.month, :year => @date.month_after.year %>

<table>
  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Bancomat</th>
    <th>Ufficio</th>
    <th>Buoni</th>
    <th>Date</th>
  </tr>

<% @expenses.each do |expense| %>
  <tr class="expense-row">
    <td><%=h expense.description %></td>
    <td><%=h expense.amount %></td>
    <td><%=h expense.category %></td>
    <td><%=h expense.bancomat %></td>
    <td><%=h expense.ufficio %></td>
    <td><%=h expense.buoni %></td>
    <td><%=h expense.date %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
	<tr class="totals">
		<td></td>
	    <td class="total-amount"><%=h @expenses.inject(0) { |total, e| total + e.amount } %></td>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td> </td>		
	</tr>
	
</table>

<div id="form_enter_many">
	<%= render :partial => "form_many" %>
</div>

<br />

<%= link_to 'New expense', new_expense_path %>
