:javascript
  $(document).ready(function() {
    $("#tabs").tabs();
  });

- total = Expense.total_for_month @date
- average = Expense.average_for_month @date
- prevision = Expense.prevision_for_month @date
- left = Expense.left_for_month_with_stipendio @date, CONFIG[:monthly_wage]
  
- expenses_for = "Listing expenses for #{Date::MONTHNAMES[@date.month] + " " + @date.year.to_s}"

= render :partial => 'layouts/header', :locals => {:title => "Expenses Manager", :subtitle => expenses_for }

#navigation-links
  = link_to "&lt;&lt; Prev month", :action => :index, :month => (@date << 1).month, :year => (@date << 1).year
  &nbsp; &nbsp;
  = link_to "Next month &gt;&gt;", :action => :index, :month => (@date >> 1).month, :year => (@date >> 1).year
  | 
  = link_to 'Categories', categories_path
  | 
  = link_to 'Accounts', accounts_path
  |
  = link_to 'Movements', movements_path

  - if RAILS_ENV != "production"
    = "<BR/><b>WARNING!!! APPLICATION RUNNING IN #{RAILS_ENV.upcase} MODE</b>"



= render :partial => 'tag_cloud'

#tabs
  %ul
    %li 
      %a(href="#tabs-1") Statistics
    %li 
      %a(href="#tabs-2") Daily chart
    %li 
      %a(href="#tabs-3") Categories chart

  #tabs-1
    = render :partial => 'layouts/statistics', :locals => {:total => total, :average => average, :prevision => prevision, :left => left }
  #tabs-2
    %img{:src => Expense.generate_daily_chart_for(@date) }
  #tabs-3
    %img{:src => Expense.generate_expenses_pie_chart(@date) }


.container_16
  .grid_8
    - unless @expenses.empty?
      
      %table

        %tr
          %th Description
          %th Amount
          %th Category
          %th Account
          %th Date


        - @expenses.each do |expense|
          - html_row_class=cycle('odd','even')
          = render :partial => 'expense_row', :locals => {:expense => expense, :html_row_class => html_row_class }


        %tr.totals
          %td
            %td.total-amount
              = currency_euro @expenses.inject(0) { |total, e| total + e.amount }
            %td
            %td
            %td    
    - else
      %span No expenses found for current month :)

  .grid_8
    - unless @incomes.empty?
      %table

        %tr
          %th Description
          %th Amount
          %th Category
          %th Account
          %th Date


        - @incomes.each do |income|
          - html_row_class=cycle('odd','even')
          = render :partial => 'expense_row', :locals => {:expense => income, :html_row_class => html_row_class }


        %tr.totals
          %td
            %td.total-amount
              = currency_euro @incomes.inject(0) { |total, income| total + income.amount }
            %td
            %td
            %td    
    - else
      %span No incomes found for current month :(

.container_16
  .grid_16

    %hr

    #form_enter_many
      = render :partial => "form_many"

    %br
