- categories = options_for_select(Category.all.map { |category| [category.name, category.id ] }, 0 )

%h1 New expense

%div{:style=>"width:400px;"}

  - form_for(@expense) do |f|
    %div
      = f.error_messages
  
    %div
      .left=  f.label :date
      .right= f.date_select :date
      .clear

    %div
      .left=  f.label :description
      .right= f.text_field :description
      .clear

    %div
      .left=  f.label :amount
      .right= f.text_field :amount
      .clear
  
    %div
      .left=  f.label :category
      .right= f.select :category_id, categories
      .clear
  
    %div
      .left=  f.label :buoni
      .right= f.text_field :buoni
      .clear

    %div
      .right= f.submit 'Create'


= link_to 'Back', expenses_path
 