<%= render :partial => 'layouts/header', :locals => {:title => "Accounts", :subtitle => "Listing 'em" }%>
<hr/>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.name %></td>
    <td><%=h account.description %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>
 | <%= link_to 'Expenses', expenses_path %>
 | <%= link_to 'Movements', movements_path %>
 | <%= link_to 'Categories', categories_path %>
